In [27]:
a = input('숫자를 입력해주세요')
b = input('숫자를 입력해봐')

## input()으로 받은 숫자는 모두 str 이다~

SyntaxError: invalid syntax (1127238281.py, line 3)

In [33]:
a, b = input('문자열 2개를 입력해보세요').split()
print (int(a)+int(b))

60

In [37]:
a, b = map(int, input('숫자 2개를 입력해보세요').split(','))
print(a + b)

30

In [ ]:
a,b,c = map(int, input().split())

In [40]:
a,b,c,d = (map(int, input().split()))
average = (a + b + c + d) / 4
print(int(average))

50

In [4]:
print(1, 2, 3, sep=',')

1,2,3

In [5]:
# sep -> separator 구분자 라는 뜻
# 값 사이에 공백이 아닌 다른 문자를 넣고 싶을 때 활용
print("Hello", "Python", sep='')

HelloPython

In [7]:
# 줄바꿈 (개행) \n
print(1, 2, 3, sep='\n')

print('1\n2\n3')

1
2
3
1
2
3

In [10]:
year = 2000
month = 10
day = 27
hour = 11
minute = 43
second = 59
 
print(year, month, day, sep='/', end=' ')
print(hour, minute, second, sep=':')

2000/10/27 11:43:59

In [2]:
bool(' ')
bool('')
# bool 이용 시,  빈 문자열, 정수 0, 실수 0.0, 이외의 모든 숫자 및 문자열은 True

False

단락 평가
- 논리 연산에서 중요한 부분이 단락 평가
- 단락 평가는 첫 번째 값만으로 결과가 확실할 때 두번 째 값은 확인(평가)하지 않는 방법을 말한다.

In [9]:
print(False and True) # Fasle
print(False and False) # Fasle
print(True and True) # True
print(True and False) # False


print(True or True) # True
print(True or False) # True
print(False or True) # True
print(False or False) # False

False
False
True
False
True
True
True
False

In [15]:
True and 'python'
'python' and True
'python' and False

False

In [19]:
print(False and 'python')
print(False or 'python')

False
python

In [23]:
# 국어, 영어, 수학, 과학 점수가 있을 때 한 과목이라도 50점 미만이면 불합격이라고 정했습니다. 다음 소스 코드를 완성하여 합격이면 True, 불합격이면 False가 출력되게 만드세요.

korean = 92
english = 47
mathematics = 86
science = 81

result = [korean, english, mathematics, science]

for i in result:
    result = True
    i >= 50
else:
    result = False

print(result)

False

In [1]:
scores = input().split()
korean, english, math, science = map(int, scores)
pass_k = korean >= 90
pass_e = english > 80
pass_m = math > 85
pass_s = science >= 80

result = pass_k and pass_e and pass_m and pass_s

print(result)

ValueError: not enough values to unpack (expected 4, got 0)

In [4]:
s = ''' Python is a programming language that lets you work quickly
and
integrate systems more effectively.'''
print(s)

 Python is a programming language that lets you work quickly
and
integrate systems more effectively.

In [22]:
a = (10, 22, 33)
a = (11, 22)
a = (11,)
type(a)

tuple

In [27]:
a = tuple(range(10))
a = tuple(range(2, 10, 3))
print(a)

(2, 5, 8)

In [35]:
value = tuple(range(-10, 10, int(input())))
print(value)

(-10, -7, -4, -1, 2, 5, 8)